* {
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none;
}

.round-img {
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
}

.jumbotron {
  background-image: url(../img/layeredwavesbg.png);
  background-size: cover;
  background-position: bottom;
  padding-bottom: 15%;
  padding-top: 15%;
  border-radius: 0;
}

.projects-carousel {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
}

.carousel-item {
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.carousel-control-next {
  right: 10%;
}

.carousel-control-prev {
  left: 10%;
}

#project {
  background: rgb(240, 236, 236);
  opacity: 0.98;
  width: calc(100% - 60px);
  height: calc(100% - 100px);
  position: fixed;
  top: 70px;
  left: 30px;
  padding: 10px;
  visibility: hidden;
}

#project-title {
  margin-left: 20px;
  font-weight: 500;
  font-size: x-large;
}

#project-desc1 {
  font-weight: 500;
}

#project-desc2 {
  font-weight: 300;
}

#project1, #project2, #project3, #project4, #project5 {
  cursor: pointer;
}

.icon {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

nav {
  opacity: 0.95;
}

.nav-item>a:hover, nav .active {
  border-bottom: 2px solid whitesmoke;
}

.nav-img1 {
  width: 40px;
}

.image-box {
  height: 70vh;
}

footer {
  background-color: #0099ff;
  word-spacing: 0.5ch;
}

.bg-custom1 {
  background-color: #0099ff;
}

.bg-custom7 {
  border: 2px solid #ffffff;
  background-color: #0099ff;
  opacity: 85%;
  border-radius: 1em;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.invert-color {
  filter: invert(0.8);
}

.invert-color:hover {
  filter: invert(1);
}

.codechef {
  filter: grayscale(1);
  filter: invert(1);
}
